:root {
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #7c3e29;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

.text-center {
    text-align: center;
}

header,
section {
    padding: 4rem 0;
}

@media (min-width: 40em) {
    header,
    section {
    padding: 7rem 0;
    }
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    /* flex gap would work in this situation as well */
    .split > * + * {
        margin-left: 2em;
    }
}

.container-narrow {
    max-width: 35rem;
}

.bg-light { 
    background-color: var(--clr-primary-200);
}

.bg-primary {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
}

.bg-dark {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.bg-primary h2,
.bg-dark h2 {
    color: var(--clr-primary-200);
}



img {
   max-width: 100%;
   display: block;
}
